body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background: #f7f7f7;
}

.container {
  margin-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}

canvas {
  max-width: 100% !important;
  height: auto !important;
}

#currencySelector {
  max-width: 300px;
  margin-left: auto;
}

@media (max-width: 768px) {
  #currencySelector {
    width: 100%;
  }
}
